# MX Cube Project Output #
##########################
.mxproject
*.bak

# Source Code we do not use #
#############################
mx/Drivers/
mx/CM4/
mx/Common/
mx/EWARM/
mx/Middlewares/
mx/Utilities/

# vscode #
##########
**/.vscode/
recipes-graphics/boot-display-app/files/build/*
recipes-graphics/boot-display-app/files/Ahsoka.Interop/*

