/*
 * Copyright (C) Helios Technologies 2021 - All Rights Reserved
 * Intentionally blank. Could hold modifications to the LCD device tree node if necessary
 * to distinguish based on LCD type.
 * 
 */
