u {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 20px;
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}