[Unit]
Description=Starts Psplash Boot screen
#Wants=systemd-remount-fs.service
#After=systemd-vconsole-setup.service systemd-udev-trigger.service systemd-udevd.service
# After=systemd-remount-fs.service
After=hlio-first-boot.service
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/lcd-config

[Install]
WantedBy=local-fs.target
