[Unit]
Description=Install esp32 wlan module device node
DefaultDependencies=false
After=local-fs.target
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "mknod -m 0666 /dev/esps0 c 221 0"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
